server:
  port: 8080

spring:
  application:
    jwt:
      secret: ${SPRING_APPLICATION_JWT_SECRET}
      expiration: ${SPRING_APPLICATION_JWT_EXPIRATION:86400000}
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5432/seathold_db
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: never
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
app:
  hold:
    ttl-seconds: 300
    lock-seconds: 5
    rate-limit-per-minute: 5
